[submodule "lib/csv"]
	path = lib/csv
	url = https://github.com/vanillaes/csv.git
[submodule "discogsFees/lib/CountryCodes"]
	path = discogsFees/lib/CountryCodes
	url = https://github.com/jayPare/CountryCodes.git
